<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Count Time | Your Event Manager</title>

	<link rel="shortcut icon" href="/public/images/logo.svg" type="image/x-icon">
	<link rel="stylesheet" href="/public/styles/main.css">
	<link rel="stylesheet" href="/public/styles/page-landing.css">
	<link rel="stylesheet" href="/public/styles/buttons.css">
	<link rel="stylesheet" href="/public/styles/animations.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="container" class="slidetodown">
		<header>
			<div class="logo">
				<img src="/public/images/clock.svg" alt="logo">
			</div>
			<h1>Count <span>Timer</span></h1>
		</header>

		<main>
			<p>Stop worrying about that important dinner, event or meeting without risking forgetting about it.</p>
			<section class="buttons">
				<a href="page-events.html" type="button" class="button-left">
					<p>SEE MY EVENTS</p>
				</a>
				<a href="page-create-event.html" type="button" class="button-right">
					<p>CREATE TIMER</p>
				</a>
			</section>
		</main>
	</div>
	<section class="image-home-desktop">
		<img src="/public/images/clocks.svg" alt="image" class="fadeup">
	</section>
	<footer>
		<section>
			<a href="https://github.com/pedro-henrique-sb/" target="_blank">pedro_dev 2021 ©</a>
		</section>
	</footer>
</body>
</html>