<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Count Time | Your Event Manager</title>

	<link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/header.css">
	<link rel="stylesheet" href="/styles/animations.css">
	<link rel="stylesheet" href="/styles/page-create-event.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="container">
		<header class="slidetodown">
			<a onclick="history.back()" class="header-back-button">
				<img src="/images/arrow-back.svg" alt="link to back">
			</a>
			<a href="/">Count<br><span>Timer</span></a>
      <a href="events" class="header-button">My Events</a>
		</header>

		<main class="slidetoright">
      <h1>CREATE NEW EVENT</h1>
      <form method="POST" class="create-event-form">
        <fieldset>
          <div class="input-block event-name">
            <label for="event-name">Event Name</label>
            <input type="text" name="name" id="event-name" required>
          </div>
          <section class="date-hour">
						<div class="input-block event-date">
							<label for="event-date">Event Date</label>
							<input type="date" name="date" id="event-date" required>
						</div>
						<div class="input-block event-hour">
							<label for="event-hour">Event Hour</label>
							<input type="time" name="hour" id="event-hour" required>
						</div>
					</section>
        </fieldset>
        <button class="button-submit" type="submit">CREATE EVENT</button>
      </form>
		</main>

	</div>
	<footer>
		<section>
			<a href="https://github.com/pedro-henrique-sb/" target="_blank">pedro_dev 2021 ©</a>
		</section>
	</footer>
</body>
</html>