<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Count Time | Your Event Manager</title>

	<link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/header.css">
	<link rel="stylesheet" href="/styles/animations.css">
	<link rel="stylesheet" href="/styles/page-events.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="container">
		<header class="slidetodown">
			<a onclick="history.back()" class="header-back-button">
				<img src="/images/arrow-back.svg" alt="link to back">
			</a>
			<a href="/">Count<br><span>Timer</span></a>
      <a href="create-event" class="header-button">Create Event</a>
		</header>

		<main class="fadeup">
      <form method="POST" class="search-event-form">
        <fieldset>
          <div class="input-block">
            <select name="event-year" id="event-year" required>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
            <img src="/images/arrow-down.svg" alt="select-year">
          </div>
          <div class="input-block">
            <select name="event-month" id="event-month" required>
              <option value="jan">Janeiro</option>
              <option value="fev">Fevereiro</option>
              <option value="mar">Março</option>
              <option value="abr">Abril</option>
              <option value="jun">Junho</option>
            </select>
            <img src="/images/arrow-down.svg" alt="select-month">
          </div>
        </fieldset>
      </form>

      <section class="events-container">
        <section class="event-container">
          <header>
            <h2>Festa</h2>
            <a href="">EDIT</a>
          </header>
          <p>The event is scheduled to <span>03/08/2021</span></p>
        </section>
        <section class="event-container">
          <header>
            <h2>Festa</h2>
            <a href="">EDIT</a>
          </header>
          <p>The event is scheduled to <span>03/08/2021</span></p>
        </section>
        <section class="event-container">
          <header>
            <h2>Festa</h2>
            <a href="">EDIT</a>
          </header>
          <p>The event is scheduled to <span>03/08/2021</span></p>
        </section>
        <section class="event-container">
          <header>
            <h2>Festa</h2>
            <a href="">EDIT</a>
          </header>
          <p>The event is scheduled to <span>03/08/2021</span></p>
        </section>
        <section class="event-container">
          <header>
            <h2>Festa</h2>
            <a href="">EDIT</a>
          </header>
          <p>The event is scheduled to <span>03/08/2021</span></p>
        </section>
      </section>
		</main>

	</div>
  <footer>
    <section>
      <a href="https://github.com/pedro-henrique-sb/" target="_blank">pedro_dev 2021 ©</a>
    </section>
  </footer>
</body>
</html>