<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Count Time | Your Event Manager</title>

	<link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/header.css">
	<link rel="stylesheet" href="/styles/animations.css">
	<link rel="stylesheet" href="/styles/page-events.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet"> 
</head>
<body>
	<div id="container">
		<header class="slidetodown">
			<a onclick="history.back()" class="header-back-button">
				<img src="/images/arrow-back.svg" alt="link to back">
			</a>
			<a href="/">Count<br><span>Timer</span></a>
      <a href="create-event" class="header-button">Create Event</a>
		</header>

		<main class="fadeup">

      <section class="events-container">

        {% for event in events %}

				<a href="/event?id={{ event.id }}">
        	<section class="event-container">
            <header>
              <h2>{{ event.name }}</h2>
            </header>
            <p>Click to see more details</p>
					</section>
				</a>

        {% else %}

        <section id="warning-without-events">
          <h2>
            <p>It looks like you don't have any events scheduled. What do you think of scheduling one now?</p>
          </h2>
          <a href="/create-event">Create Event</a>
        </section>

        {% endfor %}

      </section>

		</main>

	</div>
  <footer>
    <section>
      <a href="https://github.com/pedro-henrique-sb/" target="_blank">pedro_dev 2021 ©</a>
    </section>
  </footer>

  {% for event in allEvents %}
	<input type="hidden" id="event-name{{ event.id }}" value="{{ event.name }}">
	<input type="hidden" id="target-date{{ event.id }}" value="{{ event.date }}">
	{% endfor %}

	<script type="module">

	import { counter } from '/scripts/counterHidden.js'
	import { handlingBackendData } from '/scripts/savingValues.js'
	import { notifier, checkPermission } from '/scripts/notifier.js'

	// checking permission to send notifications
	checkPermission()

	// arrays for event names and dates
	var eventsNames = [];
	var eventsDates = [];

	// saving all event data that came from the backend
	handlingBackendData(eventsNames, eventsDates)

	// generating a counter for each event
	// targetDate = [year, months, days, hours, minutes] | contains the date data of the event and comes from the server
	eventsDates.forEach((targetDate, index) => {
		counter(eventsNames[index], targetDate);
	})

	</script>

</body>
</html>