#container header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#container header h2,
#container header span {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
}

#container header span {
  color: var(--color-tertiary);
}

#container header a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--color-secondary);
  text-align: center;
  padding: 1.5rem 1rem;
  border: solid 1px var(--color-secondary);
  border-radius: 15px;
}
