#container header {
  width: 100%;
  margin-bottom: 6.5rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container header .logo {
  margin-bottom: 2rem;
}

#container header h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: var(--color-secondary);
}

#container header h1 span {
  color: var(--color-tertiary);
  font-size: 4.5rem;
}

#container main {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container main > p {
  font-weight: 400;
  text-align: center;
  width: 90%;
  margin-bottom: 9rem;
}

  body .image-home-desktop,
  body .image-home-desktop img {
    display: none;
  }

@media(min-width: 760px) {
  #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container header {
    position: relative;
    bottom: 10rem;
    left: auto;
    margin: 0;
  }

  #container header .logo img {
    width: 120%;
  }

  #container header h1,
  #container header h1 span {
    font-size: 5.5rem;
  }

  #container main > p {
    font-size: 1.8rem;
    margin-bottom: 10rem;
  }

  body .image-home-desktop,
  body .image-home-desktop img {
    display: none;
  }
}

@media(min-width: 1280px) {
  #container {
    width: 35%;
    position: relative;
    top: 4vh;
    left: -25%;
  }

  #container header .logo {
    display: none;
  }

  #container header h1,
  #container header h1 span {
    font-size: 6rem;
  }

  body .image-home-desktop {
    display: flex;
    position: absolute;
    top: 3rem;
    right: 2rem;
  }

  body .image-home-desktop img {
    height: 90vh;
    display: initial;
  }
}
