#container main {
  width: 100%;
  min-height: 70vh;
}

#container .search-event-form {
  width: 100%;
}

#container .search-event-form fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#container .search-event-form .input-block {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#container .search-event-form .input-block select {
  width: 100%;
  height: 6rem;
  background: var(--color-tertiary);
  border-radius: 1.5rem;
  border: none;
  appearance: none;
  padding: 1rem;
}

#container .search-event-form .input-block img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}
