#container header a:nth-child(2){
  position: relative;
  left: 1.5rem;
}

#container main {
  width: 100%;
  min-height: 70vh;
}

#container .search-event-form {
  width: 100%;
}

#container .search-event-form fieldset {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#container .search-event-form .input-block {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#container .search-event-form .input-block select {
  width: 100%;
  height: 6rem;
  background: var(--color-tertiary);
  border-radius: 1.5rem;
  border: none;
  appearance: none;
  padding: 1rem;
}

#container .search-event-form .input-block img {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  pointer-events: none;
}

#container .events-container {
  margin-top: 2.5rem;
}

#container .event-container {
  background: var(--color-tertiary);
  padding: 2rem;
  border-radius: 1.5rem;
  position: relative;
}

#container .event-container + .event-container {
  margin-top: 2.5rem;
}

#container .event-container header {
  margin-bottom: 1.5rem;
  left: 0;
}

#container .event-container header h2 {
  font-weight: 600;
  line-height: 2.4rem;
  font-size: 2rem;
  margin: 0;
}

#container .event-container header a {
  font-size: 1.4rem;
  color: var(--color-primary);
  transition: .2s;
}

#container .event-container header a:hover {
  opacity: .75;
  transition: .2s;
}

#container .event-container p span {
  color: var(--color-primary);
  font-weight: 600;
}

#container #warning-without-events {
  padding: 10% 20%;
  color: #4f4f4f;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container #warning-without-events p {
  text-align: center;
  font-size: 2rem;
}

#container #warning-without-events a {
  color: #4f4f4f;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: solid 1px #4f4f4f;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-top: 2rem;
  transition: .2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

#container #warning-without-events a:hover {
  color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  transition: .2s;
}

@media(min-width: 760px) {
  #container .search-event-form .input-block select {
    padding: 2rem;
  }

  #container .event-container {
    padding: 3rem;
  }

  #container .event-container header h2 {
    font-size: 2.5rem;
  }
}

@media(min-width: 1280px) {
  #container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #container main {
    width: 70%;
  }
}
