#container header a:nth-child(2){
  position: relative;
  left: 1.5rem;
}

#container main {
  width: 100%;
  min-height: 70vh;
}

#container .events-container {
  margin-top: 2.5rem;
  row-gap: 1.5rem;
  display: flex;
  flex-direction: column;
}

#container .events-container a {
  text-decoration: none;
}

#container .event-container {
  background: var(--color-tertiary);
  padding: 2rem;
  border-radius: 1.5rem;
  position: relative;
}

#container .event-container + .event-container {
  margin-top: 2.5rem;
}

#container .event-container header {
  margin-bottom: 1.5rem;
  left: 0;
}

#container .event-container header h2 {
  font-weight: 600;
  line-height: 2.4rem;
  font-size: 2.5rem;
  margin: 0;
  color: var(--color-primary);
}

#container .event-container p {
  font-size: 1.4rem;
  color: var(--color-secondary);
}

#container #warning-without-events {
  padding: 10% 20%;
  color: #4f4f4f;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container #warning-without-events p {
  text-align: center;
  font-size: 2rem;
}

#container #warning-without-events a {
  color: #4f4f4f;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  border: solid 1px #4f4f4f;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin-top: 2rem;
  transition: .2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

#container #warning-without-events a:hover {
  color: var(--color-secondary);
  border: solid 1px var(--color-secondary);
  transition: .2s;
}

@media(min-width: 760px) {

  #container .event-container header h2 {
    font-size: 2.5rem;
  }
}

@media(min-width: 1280px) {
  #container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  #container main {
    width: 70%;
  }
}
