#container main {
  width: 100%;
  min-height: 70vh;
  background: rgba(255, 253, 253, 0.5);
  border-radius: 15px;
  padding: 4rem 3rem;
}

#container main h1,
#container main h1 span {
  font-size: 3.3rem;
  font-weight: 600;
  letter-spacing: 16%;
}

#container main h1 {
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
}

#container main h1 span {
  letter-spacing: .5rem;
}

#container #counter {
  display: grid;
  grid-template-columns: repeat(4,1fr);

  height: 7.5rem;
}

#container #counter .counter-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#container #counter .counter-unit + .counter-unit .unit-value {
  border-left: solid 2px var(--color-secondary);
}

#container #counter .counter-unit .unit-value {
  font-size: 3.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 4.9rem;
  width: 100%;
}

#container #counter .counter-unit .unit-description {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.8rem;
  text-align: center;
}

#container #counter #minute-unit {
  color: var(--color-tertiary);
}

#container #counter + p {
  font-weight: 500;
  line-height: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 4rem 0;
}

#container #counter + p span {
  font-weight: 600;
  color: var(--color-tertiary);
}

#container main .container-progress-bar {
  border-radius: 1.5rem;
  width: 100%;
  height: 2rem;
  background: var(--color-tertiary);
  padding: 0 .75rem;
  display: flex;
  align-items: center;
}

#container main .progress-bar {
  position: relative;
  top: 0;
  left: 0;
  width: var(--percentage);
}

#container main .buttons {
  width: 100%;
  margin-top: 4rem;
}

@media(min-width: 760px) {
  #container main {
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #container main h1,
  #container main h1 span,
  #container #counter .counter-unit .unit-value {
    font-size: 4rem;
  }

  #container #counter .counter-unit .unit-description {
    font-size: 1.2rem;
  }

  #container #counter + p {
    font-size: 2rem;
  }
}
