#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#container main .confirmation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc((90vw/16)*9);
  width: 90vw;
  background: url(/images/background-page-sucess.svg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
}

#container main .confirmation img {
  width: 9rem;
  position: relative;
  top: 20%;
}

#container main .text-block {
  position: relative;
  top: 50%;
}

#container .text-block h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.6rem;
  margin-bottom: 1rem;
}

#container .text-block p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.7rem;
}

@media(min-width: 650px) {
  #container main .confirmation img {
    top: 0;
  }

  #container main .text-block {
    top: 0;
  }
}

@media(min-width: 760px) {
  #container .text-block h1 {
    font-size: 3rem;
  }
}

@media(min-width: 1280px) {
  #container {
    min-height: 0;
    margin: 0;
  }

  #container main {
    width: 100%;
    height: 100%;
  }
  #container main .confirmation {
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #container main .confirmation img {
    position: relative;
    width: initial;
  }

  #container main .text-block {
    position: relative;
  }

  #container main .text-block h1 {
    font-size: 4.5rem;
    line-height: 7.2rem;
  }

  #container main .text-block p {
    font-size: 3rem;
    line-height: 2.7rem;
  }
}
