#container .progress-bar {
  border-radius: 1.5rem;
  width: calc(var(--percentage) - 2rem);
  height: 1.5rem;
  background: var(--color-primary);
  position: absolute;
  bottom: .5rem;
  left: 1rem;
}